# {{ ansible_managed }}
exec.start = "/bin/sh /etc/rc";
exec.stop = "/bin/sh /etc/rc.shutdown";
exec.clean;

mount.fstab           = "{{ bsd_jail_fstab_dir }}/fstab.${name}";
mount.devfs;
mount.fdescfs;
mount.procfs;

devfs_ruleset         = "4";

path = "{{ bsd_ezjail_jaildir }}/$name";

{% for item in bsd_jail_jails %}
{% if item.present %}
{{ item.jailname }} {
        host.hostname = {{'"'}}{{ item.jailname }}{{'"'}};
{% for key, value in item.conf.iteritems() %}
	{{ key }} = {{'"'}}{{ value }}{{'"'}};
{% endfor %}
}
{% endif %}
{% endfor %}

# EOF
